name: Build and test

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: [ubuntu-latest, macos-latest, windows-latest]
        exclude:
          - os: macos-latest
            python-version: 3.9
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get install -y gettext ffmpeg
        sudo ln -s /bin/true /bin/mpv
    - name: Install dependencies on Windows
      if: matrix.os == 'windows-latest'
      run: |
        choco install ffmpeg mpv -y
    - name: Install dependencies on MacOS
      if: matrix.os == 'macos-latest'
      run: |
        brew install ffmpeg gettext mpv
    - name: Setup ytcc and Python dependencies
      run: |
        python setup.py install
    - name: Type check with MyPy
      run: |
        python -m pip install --upgrade pip
        pip install mypy
        mypy ytcc
    - name: Check docstyle with pydocstyle
      run: |
        pip install pydocstyle
        pydocstyle ytcc
    - name: Linting with pylint
      run: |
        pip install pylint
        pylint ytcc
    - name: Run tests with pytest
      run: |
        pip install pytest
        python -m pytest
